@import '../mq'
  
.navbar
  background-color: #353540
  a:hover
    color: gray

.navbar-brand a
  color: #fed
  font-weight: bold

a.r-item
  color: #C1C1C1
  padding: 0.5rem 1.75rem
  +mobile
    color: gray
    &:hover
      background-color: #F1F1F5

.navbar-burger span
  backbround-color: #C1C1C5